<tr class="contact" data-id="<%= contact.id %>" data-name="<%= contact.name %>" data-email="<%= contact.email %>">
  <td><%= contact.id %></td>
  <td><%= contact.name %></td>
  <td><%= contact.email %></td>
</tr>