<tr class="contact" data-id="<%= contact.id %>" data-name="<%= contact.name %>" data-email="<%= contact.email %>">
  <td><%= contact.name %></td>
  <td>
    <button class="button show">Show</button>
    <a href="/contacts/<%= contact.id %>/delete"><button class="button delete">Delete</button></a>
  </td>
</tr>